[mcu]
canbus_uuid: 3a29827ac728

[mcu SB2040]
canbus_uuid: e46298d156f7

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
minimum_cruise_ratio: 0.5
square_corner_velocity: 4.0
max_z_velocity: 50
max_z_accel: 1000

[stepper_x] # M2
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^SB2040:gpio20
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2130 stepper_x]
cs_pin: PD8
spi_bus: spi2
# spi_software_sclk_pin: PB13
# spi_software_mosi_pin: PB15
# spi_software_miso_pin: PB14
run_current: 0.96152
stealthchop_threshold: 999999

[stepper_y] # M3
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: !PC3
position_min: -30
position_endstop: 223
position_max: 223
homing_speed: 70
homing_positive_dir: true

[tmc2130 stepper_y]
cs_pin: PB10
spi_bus: spi2
# spi_software_sclk_pin: PB13
# spi_software_mosi_pin: PB15
# spi_software_miso_pin: PB14
run_current: 1.01808
stealthchop_threshold: 999999

[stepper_z] # M1
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -3.0
position_max: 250
homing_speed: 40

[tmc2130 stepper_z]
cs_pin: PD9
spi_bus: spi2
# spi_software_sclk_pin: PB13
# spi_software_mosi_pin: PB15
# spi_software_miso_pin: PB14
run_current: 0.96152
stealthchop_threshold: 999999

[extruder]
step_pin: SB2040:gpio14
dir_pin: SB2040:gpio13
enable_pin: !SB2040:gpio16
microsteps: 16
rotation_distance: 21.84
full_steps_per_rotation: 200
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 100.0
pressure_advance: 0.045
pressure_advance_smooth_time: 0.045
heater_pin: SB2040:gpio23
max_power: 1.0
sensor_type: ATC Semitec 104GT-2
sensor_pin: SB2040:gpio27
min_extrude_temp: 170
min_temp: 10
max_temp: 270

[tmc2240 extruder]
uart_pin: SB2040:gpio15
interpolate: False
run_current: 0.65
interpolate: False
rref: 12300
stealthchop_threshold: 0
driver_TPFD: 0

[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PA0
min_temp: 0
max_temp: 130

[bed_mesh]
speed: 100
horizontal_move_z: 2.8
mesh_min: 25.0, 25.0
mesh_max: 225.0, 185.0
probe_count: 7,7
fade_start: 1.0
fade_end: 10.0
fade_target: 0
algorithm: bicubic
zero_reference_position: 125, 80.25
adaptive_margin: 5

[screws_tilt_adjust]
# SW Nylock Mod: Screw 1 uses the 6mm metallic spacer so its
# height is considered the baseline. For tilt adjust using the
# command SCREWS_TILT_CALCULATE, this has to be your Screw 1:
#
#         ******************
#         * S7    S8    S9 *
#         *                * 
#   Bed:  * S5    S1    S6 *  
#         *                *
#         * S2    S3    S4 *
#         ******************
#
screw1: 125,80.25
screw1_name: center
screw2: 16,-24
screw2_name: front_left
screw3: 125,-24
screw3_name: front_center
screw4: 227,-24
screw4_name: front_right
screw5: 16,80.25
screw5_name: middle_left
screw6: 227,80.25
screw6_name: middle_right
screw7: 16,185
screw7_name: rear_left
screw8: 125,185
screw8_name: rear_center
screw9: 227,185
screw9_name: rear_right
horizontal_move_z: 10.
speed: 50.
screw_thread: CCW-M3

[safe_z_home]
home_xy_position: 125.0, 80.25
speed: 200
z_hop: 20
z_hop_speed: 25

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    _BED_MESH_CALIBRATE METHOD=rapid_scan PGP=1 {rawparams}

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
        G1 E-{E} F2100
    {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
        G1 Z{z_safe} F900
        G90
        G1 X{x_park} Y{y_park} F6000
    {% else %}
        {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
        {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
        {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
        G91
        G1 E{E} F2100
    {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: BASE_CANCEL_PRINT
gcode:
    M400                           ; wait for buffer to clear
    G28 X Y                        ; park nozzle at home
    M107                           ; turn off fan
    
    TURN_OFF_HEATERS
    
    BED_MESH_CLEAR
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[pause_resume]
recover_velocity: 50

[respond]

[exclude_object]

[input_shaper]
#shaper_freq_x: 0
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
#shaper_freq_y: 0
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
#shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.
#shaper_type_x:
#shaper_type_y:
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.

[adxl345]
cs_pin: PC0
spi_bus: spi2
# spi_software_sclk_pin: PB13
# spi_software_mosi_pin: PB15
# spi_software_miso_pin: PB14

[lis2dw]
cs_pin: SB2040:gpio12
spi_software_sclk_pin: SB2040:gpio2
spi_software_mosi_pin: SB2040:gpio3
spi_software_miso_pin: SB2040:gpio4

[resonance_tester]
probe_points: 125, 105, 20
accel_chip_x: lis2dw
accel_chip_y: lis2dw #adxl345
min_freq: 5
max_freq: 133.33
accel_per_hz: 75
hz_per_sec: 1

[probe_eddy_current FLY_EDDY_PROBE]
sensor_type: ldc1612
z_offset: 2.8
i2c_address: 43
i2c_mcu: SB2040
i2c_bus: i2c1b
x_offset: 0
y_offset: 24.75
speed: 40
lift_speed: 5

[verify_heater extruder]
max_error: 20
check_gain_time: 120
hysteresis: 50
heating_gain: 2

[verify_heater heater_bed]
max_error: 20
check_gain_time:120
hysteresis: 50
heating_gain: 2

[temperature_sensor BTT_MANTA_M5P]
sensor_type: temperature_mcu

[temperature_sensor FLY_SB2040]
sensor_type: temperature_mcu
sensor_mcu: SB2040

[temperature_probe FLY_EDDY_PROBE]
sensor_type: Generic 3950
sensor_pin: SB2040:gpio28
horizontal_move_z: 2.8

[fan]
pin: SB2040:gpio24

[heater_fan hotend_fan]
pin: SB2040:gpio19
heater: extruder
heater_temp: 50.0

[controller_fan mcu]
pin: PA4
max_power: 0.60
kick_start_time: 0.200
idle_speed: 0.30
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z

[neopixel head]
pin: SB2040:gpio26
chain_count: 12
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.6471
initial_BLUE: 0.0
initial_WHITE: 0.0

[display_status]

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
#     EXP1_2=PD4,  EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
#     # EXP2 header
#     EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
#     EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

# [display] # ok!
# lcd_type: hd44780
# rs_pin: EXP1_4
# e_pin: EXP1_3
# d4_pin: EXP1_5
# d5_pin: EXP1_6
# d6_pin: EXP1_7
# d7_pin: EXP1_8
# encoder_pins: ^EXP2_3,^EXP2_5
# click_pin: ^!EXP1_2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.405
#*# pid_ki = 2.260
#*# pid_kd = 65.896
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.737
#*# pid_ki = 0.937
#*# pid_kd = 920.707
#*#
#*# [probe_eddy_current FLY_EDDY_PROBE]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:4516003.179,0.087500:4514099.732,0.131250:4511396.235,
#*# 	0.168750:4508901.775,0.212500:4505669.953,0.250000:4503051.281,
#*# 	0.287500:4500363.809,0.331250:4497467.062,0.368750:4494720.906,
#*# 	0.412500:4491957.581,0.450000:4489532.094,0.487500:4487285.191,
#*# 	0.531250:4484716.242,0.568750:4482442.550,0.612500:4479841.280,
#*# 	0.650000:4477720.900,0.687500:4475561.136,0.731250:4473202.044,
#*# 	0.768750:4471182.836,0.812500:4468826.878,0.850000:4466864.651,
#*# 	0.887500:4465076.700,0.931250:4462913.799,0.968750:4461085.010,
#*# 	1.012500:4458977.587,1.050000:4457165.646,1.087500:4455354.428,
#*# 	1.131250:4453348.331,1.168750:4451520.389,1.212500:4449433.106,
#*# 	1.250000:4447689.342,1.287500:4445991.057,1.331250:4444100.472,
#*# 	1.368750:4442348.760,1.412500:4440399.402,1.450000:4438618.037,
#*# 	1.487500:4436925.686,1.531250:4435033.494,1.568750:4433260.957,
#*# 	1.612500:4431379.312,1.650000:4429733.193,1.687500:4428125.372,
#*# 	1.731250:4426384.187,1.768750:4424935.866,1.812500:4423080.894,
#*# 	1.850000:4421587.277,1.887500:4420071.811,1.931250:4418292.685,
#*# 	1.968750:4416792.226,2.012500:4415054.232,2.050000:4413560.381,
#*# 	2.087500:4412092.686,2.131250:4410409.213,2.168750:4408919.724,
#*# 	2.212500:4407269.740,2.250000:4405751.998,2.287500:4404355.169,
#*# 	2.331250:4402833.235,2.368750:4401433.754,2.412500:4399836.206,
#*# 	2.450000:4398594.105,2.487500:4397255.958,2.531250:4395790.416,
#*# 	2.568750:4394493.509,2.612500:4393061.275,2.650000:4391864.806,
#*# 	2.687500:4390605.646,2.731250:4389296.342,2.768750:4388051.999,
#*# 	2.812500:4386572.534,2.850000:4385523.082,2.887500:4384386.671,
#*# 	2.931250:4383187.330,2.968750:4381992.227,3.012500:4380676.103,
#*# 	3.050000:4379633.851,3.087500:4378596.948,3.131250:4377435.637,
#*# 	3.168750:4376416.865,3.212500:4375113.976,3.250000:4374133.438,
#*# 	3.287500:4373143.085,3.331250:4372080.117,3.368750:4371152.294,
#*# 	3.412500:4370075.073,3.450000:4369177.216,3.487500:4368243.647,
#*# 	3.531250:4367260.790,3.568750:4366416.705,3.612500:4365352.069,
#*# 	3.650000:4364521.676,3.687500:4363668.650,3.731250:4362724.200,
#*# 	3.768750:4361853.963,3.812500:4360940.367,3.850000:4360154.879,
#*# 	3.887500:4359384.758,3.931250:4358532.793,3.968750:4357767.974,
#*# 	4.012500:4356846.130,4.050000:4356125.486
#*#
#*# [temperature_probe FLY_EDDY_PROBE]
#*# calibration_temp = 24.740500
#*# drift_calibration =
#*# 	4549949.776355, -1732.399613, 17.451200
#*# 	4508103.373355, -1307.041941, 12.604345
#*# 	4478991.972941, -1170.987663, 11.273784
#*# 	4452340.443840, -990.353825, 9.757087
#*# 	4427151.865787, -785.066140, 8.156757
#*# 	4405819.478837, -626.000071, 6.758348
#*# 	4387931.975966, -484.223289, 5.351195
#*# 	4372979.930921, -372.542511, 4.221563
#*# 	4361156.753721, -309.379530, 3.638651
#*# drift_calibration_min_temp = 24.790065058319545
